.footer {

    width: 100%;
    background-color: #000000; 
    padding: 10px; 
    text-align: center; 
    color: #fff; /* Color del texto */
  }
  
  .contact-info {
    margin: 0 auto; /* Centra el bloque de contacto */
    max-width: 300px; /* Ancho máximo del bloque de contacto */
  }
  