.footer {
  width: 100%;
  background-color: #000000; 
  padding: 50px; 
  text-align: center; 
  color: #fff;
  display: flex; 
  justify-content: space-between; 
}

.contact-info1,
.contact-info2 {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.redes img {
  height: 30px;
  width: auto;
  margin: 5px;
}
