/* landingpage.css */
.fondo img,
.fondoLanding img {
    width: 100%;
    height: auto; /* Esto mantiene la proporción de la imagen */
}
  
.quienesSomos {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.801);
}
.quienesSomos h2{
    color: orangered;
    text-align: center;
    font-size: 24px;
}