.fondo img,
.fondoLanding img {
    width: 100%;
    height: auto;
}
  
.quienesSomos {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.801);
}
.quienesSomos h2{
    color: orangered;
    text-align: center;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .equipo {
        flex-direction: column; 
        align-items: center; 
    }

    .equipo > * {
        margin-bottom: 20px; 
    }
}